/* Main Styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #29292f;
  color: #dfdfe0;
  padding: 2em;
  margin: 0 10%;
}

h2 {
  font-size: 2em;
  font-weight: bolder;
  padding-bottom: 0.5em;
}

label {
  font-weight: bold;
}

label > input {
  font-weight: normal;
}
