/* Total Cost */
div.total-cost {
  /* width set to algin with material items list */
  width: calc(25% - 2em);
  padding: 1em 0em 1em 0em;
  display: flex;
  justify-content: space-between;
}

div.total-cost > p:first-of-type {
  padding-right: 1em;
}
