@import "./css/reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Main Styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #29292f;
  color: #dfdfe0;
  padding: 2em;
  margin: 0em 3em 0em 3em;
}

h2 {
  font-size: 2em;
  font-weight: bolder;
}

label {
  font-weight: bold;
}

label > input {
  font-weight: normal;
}

input[type="color"],
input[type="button"] {
  cursor: pointer;
}

/* Always show up/down arrows for number inputs */
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

/* Rounded Color Picker */
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
  height: 3em;
  width: 3em;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
  height: 3em;
  width: 3em;
}

/*  Button Styles */
button.rounded-button {
  color: #ffffff;
  margin: 1em 0em 1em 0em;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 2em;
}

button:hover {
  filter: brightness(85%);
}

button:active {
  filter: brightness(70%);
}

button.rounded-button + button.rounded-button {
  /* add margin between buttons for all except for the first */
  margin-left: 0.5em;
}

button.rounded-button > i.fas {
  padding-right: 0.5em;
}

button.rounded-button.blue {
  background-color: #0075db;
}

button.rounded-button.red {
  background-color: #ff444c;
}

/* Material Editor Layout */
.materials-editor {
  display: flex;
  width: 100%;
}

.materials-editor > .material-display {
  width: 70%;
}

.materials-editor > .materials-list {
  width: 30%;
}

/* Material List styles */
.materials-list > ul {
  border: solid;
  border-width: 2px;
  border-color: #565664;
  background-color: #17171a;
}

.materials-list-item {
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #565664;
  padding: 1em;
  display: flex;

  height: 3em;
}

.materials-list-item.selected {
  background-color: #000344;
}

.materials-list-item:not(.selected) {
  /* clickable list item */
  cursor: pointer;
}

.materials-list-item:not(.selected):hover {
  filter: brightness(85%);
}

div.material-color {
  margin-top: 0.25em;
  border: none;
  border-radius: 50%;
  padding: 0;
  height: 2em;
  width: 2em;
}

div.material-info {
  margin-left: 0.5em;
  display: flex;
  flex-direction: column;
}

div.material-info > span {
  margin-top: -0.1em;
  font-size: 0.8em;
  font-weight: lighter;
}

/* Material editor styles */
div.material-form {
  padding: 1em;
  border-radius: 0.5em;
  background-color: #1d1d21;
  display: flex;
  flex-flow: column wrap;
}

div.material-form-field {
  padding: 1em;
}

div.material-form-field > label {
  margin-bottom: 0.5em;
}

div.material-form-field > label > input {
  display: block;
  background-color: #393942;
  padding: 0.5em;
  border-radius: 0.5em;
}

div.material-form-field > label > input[type="color"] {
  background-color: transparent;
}

div.material-form-field > label > input[type="number"] {
  text-align: right;
}

/* Total Cost */
.total-cost {
  padding: 1em 0em 1em 0em;
  display: flex;
  justify-content: space-between;
}
